<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试</title>
    <script src="/js/tools.js"></script>
    <script src="/js/music.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>

    <div style="width: 100px; height:200px;background-color: #777;"></div>
    <div id="head" style="background-color:#444; margin: auto; width:80%; height:200px;"></div>
    <script>
        console.log(document.body.scrollHeight)
        var mm = new music_info("35678875", "呼吸决定", "http://music.163.com/song/media/outer/url?id=35678875.mp3",
            "http://p2.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg", "246268", null, null, null);
        console.log(mm)
    </script>
</body>

</html>